<div class="container" id="container">
  <div class="caption" id="slider-caption">
    <div class="caption-heading">
      <h1>Lorem Ipsum</h1>
    </div>

    <div class="caption-subhead">
      <span> dolor sit amet, consectetur adipiscing elit. </span>
    </div>
    <a href="#" class="btn"> Sit Amet </a>
  </div>
  <div class="left-col" id="left-col">
    <div id="left-slider">
    </div>
  </div>
  <ul class="nav">
    <li class="slide-up">
      <a href="#"> < </a>
    </li>
    <li class="slide-down">
      <a href="#" id="down_button"> > </a>
    </li>
  </ul>
</div>













//-   .right-col
//-     .preview

//-       img(src="http://unsplash.it/800")
